body {
	background: #323a40;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: #e9a81e;
	font-size: 42px;
	margin-bottom: 0;
}

p{
	color: #51adc3;
	text-transform: uppercase;
	font-size: 14px;
}